/*
Light mode colors:
    #9ddfd3
    #1b2021
    #D0FEF6

Dark mode colors:
    #444F4D


NOTE: the ---- after a comment-in thing means I have to delete it later.

*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#page {
    --text-color: #000000;
    --background-color: #D0FEF6;
    --header-color: #9ddfd3;
    --bar-color: #1b2021;
    --input-bg: #F7F7F7;
    --input-text: #323232;
}


#page.dark-mode {
    --text-color: #7FF8FF;
    --background-color: #003538;
    --header-color: #005257;
    --bar-color: #D8FDFF;
    --input-bg: #282828;
    --input-text: #D9D9D9;
}


#page {
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 30vh;
    background: var(--header-color);
}

h1 {
    text-align: center;
    background: var(--header-color);
    font-size: 2.3em;
    height: 15vh;
    padding-top: 2vh;
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

header .login-banner h3 {
    text-align: center;
    font-size: 1.5em;
    color: var(--text-color);
}

header .black-bar {
    display: flex;
    height: 5vh;
    width: auto;
    background: var(--bar-color);
    opacity: 85%;
}

header nav {
    height: 15vh;
    width: auto;
    background: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

header nav > a {
    text-decoration: none;
    height: 10vh;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 1px solid var(--text-color);
    cursor: pointer;
}

.login-banner {
    height: 20vh;
}

main {
    height: auto;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4vh;
    padding-right: 4vh;
}

/* Below is main CSS for index.html/homepage */

main .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

main .wrapper h3 {
    font-size: 1.5em;
    text-align: center;
    color: var(--text-color);
}

main .wrapper .image {
    margin-bottom: 4vh;
    display: flex;
    width: 90vw;
    height: 30vh;
    background: #;
    border: 3px solid var(--header-color);
}

main .news {
    width: 90vw;
    height: 30vh;
    background: #;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newsDiv1, #newsDiv2 {
    display: flex;
    width: 42vw;
    border: 3px solid var(--header-color);
}


/* Above is main CSS for index.html/homepage */

/* Below is main CSS for registration.html */

main .registration, main .login {
    height: 60vh;
    width: 90%;
    display: flex;
}

.wrap.account {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-left: var(--header-color);
    border-right: var(--header-color);
}

.register-info, .login-info {
    height: 15vh;
    display: flex;
    align-items: center;
    color: var(--text-color);
}


.register-info h2,
.login-info h2 {
    text-align: center;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input {
    background-color: var(--input-bg);
    color: var(--input-text);
    text-align: center;
    margin-top: 3%;
    width: 40%;
    height: 15%;
}  

input[type=text]:focus {
    background-color: var(--input-bg);
    color: var(--input-text);
  }

/* Above is main CSS for registration.html */

/* Below is footer CSS */

footer {
    height: 40vh;
}

footer .light-blue-panel {
    display: flex;
    height: 8vh;
    background: var(--header-color);
}

footer .contact-information {
    height: 100%;
    background: #001D1F;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #D0FEF6;
}

footer .contact-information div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: flex-start;
    width: 90vw;
}

.dark-mode-button {
    height: 15vh;
    width: 15vh;
    position: fixed;
    top: 0;
    right: 0;
}

a {
    color: var(--text-color);
}

/* Above is footer CSS */


/* Mobile design for registration page. */
@media only screen and (max-width: 700px) {

    main h3 {
        font-size: 0.9em;
        width: 85vw;
        text-align: center;
    }

    header {
        height: 40vh;
        min-height: 230px;
    }

    header .black-bar {
        height: 2vh;
        width: 100vw;
        background: var(--bar-color);
        opacity: 85%;
    }

    header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--header-color);
        min-height: 70px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
    }

    header nav a {
        display: flex;
        height: 15vh;
        width: 80vw;
    }

    div.wrap {
        justify-content: space-around;
        align-items: center;
    }

    form {
        height: 80%;
    }

    form input {
        width: 80vw;
        height: 20%;
        font-size: 20px;
    }

    div.register-info {
        height: 20%;
    }

    footer .light-blue-panel {
        background: var(--header-color);
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
    }

    footer .contact-information div p {
        font-size: 1em;
        opacity: 90%;
    }

    footer .contact-information div p:first-child {
        text-decoration: underline;
        font-size: 1em;
    }

    main .news {
        flex-direction: column;
        height: 40vh;
    }

    .news div {
        width: 100%;
        height: 50vh;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .wrap.account {
        border: none;
    }
}