/*
DESKTOP

HEIGHTS
    header (30vh)
    header .black-bar (5vh)
    header nav (10vh)
    header nav a (10vh)
    .login-banner (20vh)
    main (60vh)
    main .registration (60vh)
    main .login (60vh)
    .wrap (60vh)
    .register-info (18vh)
    form (70% of parent = 60vh)
    form input (10% of parent = 6vh)
    footer (40vh)
    footer .light-blue-panel (10vh)
    footer .contact-information (30vh)

WIDTHS
    .
    .
*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 30vh;
    background: #9ddfd3;
    border-bottom: 1px solid black;
}

/*header .login-banner*/ h1 {
    text-align: center;
    background: #9ddfd3;
    font-size: 2.3em;
    height: 15vh;
    padding-top: 2vh;
}

header .login-banner h3 {
    text-align: center;
    font-size: 1.5em;
}

header .black-bar {
    display: flex;
    height: 5vh;
    width: auto;
    background: #1b2021;
    opacity: 85%;
}

header nav {
    height: 15vh;
    width: auto;
    background: #9ddfd3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

header nav a {
    text-decoration: none;
    height: 10vh;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 1px solid black;
    cursor: pointer;
}

.login-banner {
    height: 20vh;
}

main {
    height: 60vh;
    background: #D0FEF6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Below is main CSS for index.html/homepage */

main .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /*margin-top: 10vh;*/
}

main .wrapper h3 {
    font-size: 1.5em;
}

main .wrapper .image {
    display: flex;
    /*width: 90vw;
    height: 40vh;*/
    background: #;
    border: 3px solid #9ddfd3;
}

main .news {
    /*width: 90vw;
    height: 20vh;*/
    background: #;
    /*margin: 10vh 0;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news div {
    display: flex;
    /*width: 40vw;*/
    border: 3px solid #9ddfd3;
}

/* Above is main CSS for index.html/homepage */

/* Below is main CSS for registration.html */

main .registration, main .login {
    height: 60vh;
    width: 90%;
    display: flex;
}

.wrap {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D0FEF6;
    border-left: 15px solid #9ddfd3;
    border-right: 15px solid #9ddfd3;
}

.register-info, .login-info {
    height: 15vh;
    background: #;
    display: flex;
    align-items: center;
}


.register-info h2,
.login-info h2 {
    text-align: center;
}

form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    /*display: flex;*/
    text-align: center;
    margin-top: 3%;
    width: 40%;
    height: 15%;
}

/* Above is main CSS for registration.html */

/* Below is footer CSS */

footer {
    height: 40vh;
}

footer .light-blue-panel {
    display: flex;
    height: 8vh;
    background: #9ddfd3;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
}

footer .contact-information {
    height: 35vh;
    background: #1b2021;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer .contact-information div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: flex-start;
    width: 90vw;
}

/* Above is footer CSS */


/* Mobile design for registration page. */
@media only screen and (max-width: 400px) {

    body {
        /*width: 100vw;*/
    }

    header {
        height: 40vh
    }

    header .black-bar {
        height: 2vh;
        width: 100vw;
        background: #1b2021;
        opacity: 85%;
    }

    header h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9ddfd3;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20vh;
    }

    header nav a {
        display: flex;
        height: 15vh;
        width: 80vw;
    }

    div.wrap {
        justify-content: space-around;
        align-items: center;
    }

    form {
        height: 80%;
    }

    form input {
        width: 80vw;
        height: 20%;
        font-size: 20px;
    }

    div.register-info {
        height: 20%;
    }

    footer {
        /*height: 30vh;*/
    }

    footer .light-blue-panel {
        /*height: 5vh;
        width: 100vw;*/
        background: #9ddfd3;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    footer .contact-information {
        /*height: 25vh;*/
    }

    footer .contact-information div p {
        font-size: 1em;
        opacity: 90%;
    }

    footer .contact-information div p:first-child {
        text-decoration: underline;
        font-size: 1em;
    }

    .news {
        flex-direction: column;
    }

    .news div {
        width: 100%;
    }

    .wrap {
        border: 0px;
    }

}