*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    height: 30vh;
    min-height: 270px;
    width: 100vw;
    background: #9ddfd3;
    border-bottom: 1px solid black;
}

body > header h1 {
    height: 5vh;
    min-height: 70px;
    width: 100vw;
    background: #9ddfd3;
    text-align: center;
    margin-top: 60px;
    font-size: 2.3em;
}

body > header h3 {
    text-align: center;
    padding: 1vh 0;
    font-size: 1.5em;
}

body > header .black-bar {
    height: 5vh;
    min-height: 35px;
    width: 100vw;
    background: #1b2021;
    opacity: 85%;
}

body > header nav {
    height: 7vh;
    min-height: 65px;
    width: 100vw;
    background: #9ddfd3;
    border-bottom: 10px solid #1b2021;
    display: flex;
    justify-content: space-around;
}

body > header nav a {
    text-decoration: none;
}

body > header nav div {
    height: 100%;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-right: 3px solid black;
    border-left: 3px solid black;
    cursor: pointer;
}

body > main {
    height: auto;
    min-height: 60vh;
    width: 100vw;
    background: white;
    /*background: #D0FEF6;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Below is main CSS for index.html/homepage */

body > main .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10vh;
}

body > main .wrapper h3 {
    font-size: 1.5rem;
}

body > main .wrapper .image {
    width: 90vw;
    height: 40vh;
    background: #;
    border: 3px solid #9ddfd3;
}

body > main .news {
    width: 90vw;
    height: 20vh;
    min-height: 200px;
    background: #;
    margin: 10vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    justify-content: space-between;
    font-size: 1.4rem;
}

body > main .news .news-wrapper  div {
    width: 100%;
    height: 100%;
    min-height: 50px;
    border: 3px solid #9ddfd3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 30px 30px;
}

img {
    width: 100%;
    height: 100%;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    border: 0;
}

.news-wrapper h3 {
    text-align: center;
}

/* Above is main CSS for index.html/homepage */

/* Below is main CSS for registration.html */

body > main .registration, main .login {
    height: 60vh;
    min-height: 400px;
    width: 90%;
    display: flex;
}

body > main .blue-stripe {
    height: 100%;
    width: 5%;
    background: #9ddfd3;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.wrap {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.register-info,
.login-info {
    height: 30%;
    min-height: 100px;
    width: 100%;
    background: #;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-info h2,
.login-info h2 {
    padding-top: 2%;
}

form {
    height: 70%;
    min-height: 300px;
    width: 100%;
    background: #;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    text-align: center;
    margin-top: 3%;
    width: 30%;
    height: 10%;
    min-height: 40px;
    min-width: 300px;
}

/* Above is main CSS for registration.html */

/* Below is footer CSS */

body > footer {
    height: 40vh;
    min-height: 400px;
    width: 100vw;
}

body > footer .light-blue-panel { /* CSS for chatpage also included */
    height: auto;
    min-height: 100px;
    width: 100vw;
    background: #9ddfd3;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* chatpage specific CSS below */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* chatpage specific CSS above */
}

body > footer .contact-information {
    height: 30vh;
    min-height: 320px;
    width: 100vw;
    background: #1b2021;
    opacity: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

body > footer .contact-information div {
    height: auto;
    width: auto;
    text-align: center;
}

body > footer .contact-information div p:first-child {
    text-decoration: underline;
    font-size: 1.3em;
}

body > footer .contact-information div p {
    padding: 5px;
    font-size: 1.2em;
    opacity: 90%;
}

/* Above is footer CSS */

/* Below is chatpage CSS */

body > footer .private-message-wrapper {
    width: 30%;
    height: 100%;
    min-height: 106px;
    background: #;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

body > footer .chatrooms-list {
    width: 50%;
    height: auto;
    min-height: 100px;
    background: #;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > footer .chatrooms-list header {
    height: 30px;
    width: 100%;
    background: #;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

body > footer .chatrooms-list main {
    height: auto;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

body > footer .chatrooms-list main h4 {
    margin: 0 15px;
}

body > footer #private-message-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.5rem;
    background: #f3f4ed;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}

body > footer #private-message-wrapper h3 {
    font-size: 10em;
}

body > footer #add-private-message-div {
    display: none;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: calc(100% + 15px);
    background: #B4FFF1;
    border: 3px solid black;
    flex-direction: column;
    text-align: center;
}

body > footer #add-private-message-div * {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

body > footer #add-private-message-div *:not(h4) {
    width: 70%;
}

body > footer #add-private-message-div h4 {
    margin-top: 25px;
    font-size: 1.5rem;
}

body > main .send-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 10vh;
    min-height: 100px;
}

body > main .message-wrapper {
    width: 90%;
    height: 80vh;
    min-height: 400px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    overflow: scroll;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

body > main .message-wrapper ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}
body > main .message-wrapper ul li {
    margin: 10px 15px 10px 15px;
    border: 6px solid #8ab6d6;
    padding: 7px;
    padding-left: 15px;
    font-size: 1.3em;
    border-radius: 15px;
    width: 80%;
    word-break: break-all;
    align-self: flex-start;
}

body > main .message-wrapper ul li h3 {
    padding-bottom: 15px;
    margin-right: 15px;
}

body > main h5 {
    cursor: pointer;
}

body > main .message-wrapper ul li div:not(.settings-list) {
    display: flex;
    justify-content: space-between;
}

body > main .send-wrapper input[type="text"] {
    width: 100%;
    height: 50%;
    min-height: 50px;
    text-align: center;
    border: 0;
    font-size: 1.12rem;
    background: #f3f4ed;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

body > main .send-wrapper button {
    width: 100%;
    height: 50%;
    min-height: 50px;
    border: 0;
    font-size: 1.12rem;
    background: #B4FFF1;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}

.settings {
    position: relative;
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.settings-list-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: green;
    width: 150px;
    height: auto;
    top: -25px;
    right: 30px;
}

.settings-list-right {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: green;
    width: 150px;
    height: auto;
    top: 10px;
    right: 30px;
}

.settings-list-left > button,
.settings-list-right > button {
    width: 100%;
    height: 75px;
    font-size: 1.05rem;
    background: white;
    cursor: pointer;
}

/* Above is chatpage CSS */

/* Below is google and facebook button CSS */

.buttons {
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 25px;
}

div .g-signin2 {
    margin-left: 30px;
}

/* Above is google and facebook button CSS */

/* Below is mobile design for home page */

@media only screen and (max-width: 700px) {
    body > main .message-wrapper {
        width: 100%;
    }

    body > main .send-wrapper {
        width: 100%;
    }

    body > main .blue-stripe {
        visibility: hidden;
    }

    .wrap input {
        min-width: 300px;
        width: 60%;
        min-height: 40px;
        height: 15%;
    }

    body > footer .contact-information > div:first-child {
        margin-top: 20px;
    }

    body > footer .contact-information > div:last-child {
        border-bottom: none;
    }

    body > footer .contact-information > div {
        padding: 0px 0 12px 0;
        width: 100vw;
        margin: 0 0 20px 0;
        border-bottom: 2px solid white;
    }

    body > footer .contact-information {
        display: flex;
        height: auto;
        flex-direction: column;
    }

    body > footer #add-private-message-div {
        height: 250px;
    }

    body > footer #private-message-button {
        margin-left: 10px;
    }

    body > footer .light-blue-panel {
        flex-direction: column;
    }

    body > footer .chatrooms-list {
        width: 100%;
    }

    body > footer .private-message-wrapper {
        width: 100%;
    }

    nav > a:first-child > div:first-child {
        border-bottom: 5px solid black;
    }

    body > header nav div {
        padding: 18px;
        width: 100vw;
        border-left: none;
        border-right: none;
    }

    body > header nav {
        margin: 0 0 37px 0;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body > header h1 {
        margin: 0 0 0 0;
        min-height: 70px;
    }

    body > header {
        display: flex;
        flex-direction: column;
        min-height: 230px;
        height: auto;
    }

    body > main .news {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
    }

    .news .news-wrapper {
        width: 90%;
        height: 30vh;
    }

    .news .news-wrapper li {
        font-size: 1.5rem;
    }

    .wrap.account {
        border: none;
    }

    .black-bar:last-of-type {
        display: none;
    }
}
