{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="page">

<header>
    <div class="black-bar"></div> <!-- ** Figure out why these bars are thinner than the ones on other pages! ** -->
    <nav>
        <!-- If not logged in, show the login button -->
        {% if not loggedin %}

            <a href=/login><div><p>Login</p></div></a>

        {% endif %}

        <!-- If the user is logged in, don't show the register button -->
        {% if not loggedin %}

            <a href=/register><div><p>Register</p></div></a>

        {% endif %}

        <!-- If logged in, show the logout button -->
        {% if loggedin %}

            <a href=/logout><div><p>Logout</p></div></a>

        {% endif %}
    </nav>
    <div class="black-bar"></div> <!-- ** Figure out why these bars are thinner than the ones on other pages! ** -->

    <div class="login-banner">

        <h1>Social Media App</h1>
        <!-- Display the login message if just logged in -->
        {% if loginmessage %}

            <h3>{{ loginmessage }}</h3>

        {% endif %}
    </div>
</header>

<main style="padding: 4vh">

    <div class="wrapper">
        <h3>Taking Social Media to a Whole New Level!</h3>

        <div class="image"></div>

    </div>

    <div class="news">
        <div></div>
        <div></div>
    </div>

</main>

<footer>
    <!--<div class="light-blue-panel"></div>-->
    <div class="contact-information">

        <div>
            Created by Aliza Howe, Andrew Matt, Anthony Keller, and Gabe Curran
        </div>

        <div>
            Created with Python/Flask, Postgres/PostgreSQL, HTML, CSS, and Javascript

            Deployed with Heroku
        </div>

        <div>
            Contact us [stuff here]
        </div>

    </div>

</footer>

</div>
{% endblock %}

