{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

<header>
    <div class="black-bar"></div> <!-- ** Figure out why these bars are thinner than the ones on other pages! ** -->
    <nav>
        <!-- If not logged in, show the login button -->

        {% if not current_user.is_authenticated %}
            <a href=/login><div><p>Login</p></div></a>
        {% endif %}

        <!-- If the user is logged in, don't show the register button -->

        {% if not current_user.is_authenticated %}
            <a href=/register><div><p>Register</p></div></a>
        {% endif %}

        <!-- If logged in, show the logout button -->

        {% if current_user.is_authenticated %}
            <a href=/logout><div><p>Logout</p></div></a>
        {% endif %}
        <!-- if logged in, show chat button -->
        {% if current_user.is_authenticated %}
            <a href=/chat><div><p>Chat</p></div></a>
        {% endif %}
    </nav>
    <div class="black-bar"></div>
    <h1>Social Media App</h1>
</header>

<main style="padding: 4vh">

    <div class="wrapper">
        <h3>Taking Social Media to a Whole New Level!</h3>

        <div class="image"><img src="{{ url_for('static', filename='images/wave.jpg') }}"></div>

    </div>

    <div class="news">
        <div class="news-wrapper">
            <h3>In the News</h3>
            <div>
                <ul>
                    <li>Tsunami heading towards Social Media Headquarters!</li>
                    <li>Head drought in the Midwest</li>
                    <li>150th Anniversery of the Donut</li>
                </ul>
            </div>
        </div>
        <div class="news-wrapper">
            <h3>Development Update</h3>
            <div>
                <ul>
                    <li>Can now delete your messages!</li>
                    <li>Messages now have time stamps</li>
                    <li>Fixed various chat bugs</li>
                    <li>Filled out homepage content!</li>
                </ul>
            </div>
        </div>
    </div>

</main>

<footer>
    <div class="light-blue-panel"></div>
    <div class="contact-information">
        <div>
            <p>Created By:</p>
            <p>Aliza Howe</p>
            <p>Andrew Matt</p>
            <p>Anthony Keller</p>
            <p>Gabe Curran</p>
        </div>
        <div>
            <p>Created Using:</p>
            <p>Python/Flask</p>
            <p>PostgreSQL/postgres</p>
            <p>HTML, CSS, JavaScript</p>
            <p>Deployed with Heroku</p>
        </div>
        <div>
            <p>Contact Us At:</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
        </div>
    </div>
</footer>
{% endblock %}

