{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="black-bar"></div>
    <nav>
        <!-- Only show register button if user is not logged in -->
        {% if not current_user.is_authenticated %}
            <a href=register><div><p>Registration</p></div></a>
        {% endif %}

        <a href=/><div><p>Homepage</p></div></a>

        <!-- Only show logout if the user is logged in. If a login message is sent, that means the user is logged in -->
        {% if current_user.is_authenticated %}
            <a href=/logout><div><p>Logout</p></div></a>
        {% endif %}
    </nav>
    <h1>Social Media App</h1>
</header>
<main>
    <div class="login">
        <div class="blue-stripe"></div>
        <div class="wrap">
            <div class="login-info">
                {% if not loginmessage %}
                    <h2>Login below!</h2>
                {% endif %}
            </div>
            <form action=/login method="POST">
                <input type="email" placeholder="Please enter an email." name="user-email">
                <input type="password" placeholder="Please enter a password." name="user-password">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="blue-stripe"></div>
    </div>
</main>
<footer>
    <div class="light-blue-panel"></div>
    <div class="contact-information">
        <div>
            <p>Created By:</p>
            <p>Aliza Howe</p>
            <p>Andrew Matt</p>
            <p>Anthony Keller</p>
            <p>Gabe Curran</p>
        </div>
        <div>
            <p>Created Using:</p>
            <p>Python/Flask</p>
            <p>PostgreSQL/postgres</p>
            <p>HTML, CSS, JavaScript</p>
            <p>Deployed with Heroku</p>
        </div>
        <div>
            <p>Contact Us At:</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
        </div>
    </div>
</footer>
{% endblock %}

