{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<meta name="google-signin-client_id" content="319666244769-frpa34c0aaem6b3de21rvuie14lkploi.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<header>
    <div class="black-bar"></div>
    <nav>
        <!-- Only show register button if user is not logged in -->
        {% if not loginmessage %}
            <a href=register><div><p>Registration</p></div></a>
        {% endif %}

        <a href=/><div><p>Homepage</p></div></a>

        <!-- Only show logout if the user is logged in. If a login message is sent, that means the user is logged in -->
        {% if loginmessage %}
            <a href=/logout><div><p>Logout</p></div></a>
        {% endif %}
    </nav>
    <h1>Social Media App</h1>
</header>
<main>
    <div class="login">
        <div class="blue-stripe"></div>
        <div class="wrap">
            <div class="login-info">
                {% if not loginmessage %}
                    <h2>Login below!</h2>
                {% endif %}
            </div>
            <form action=/login method="POST">
                <input type="email" placeholder="Please enter an email." name="user-email">
                <input type="password" placeholder="Please enter a password." name="user-password">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="blue-stripe"></div>
    </div>
      <div id="fb-root"></div>
      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=3849666025153559&autoLogAppEvents=1" nonce="yPbI9BHe"></script>
<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
<div class="g-signin2" data-onsuccess="onSignIn"</div>
</main>
<footer>
    <div class="light-blue-panel"></div>
    <div class="contact-information">
        <div>
            <p>Created By:</p>
            <p>Aliza Howe</p>
            <p>Andrew Matt</p>
            <p>Anthony Keller</p>
            <p>Gabe Curran</p>
        </div>
        <div>
            <p>Created Using:</p>
            <p>Python/Flask</p>
            <p>PostgreSQL/postgres</p>
            <p>HTML, CSS, JavaScript</p>
            <p>Deployed with Heroku</p>
        </div>
        <div>
            <p>Contact Us At:</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
        </div>
    </div>
</footer>
{% endblock %}
