{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="page">
<header>
    <div class="black-bar"></div>
    <nav>
        <!-- If the user is not logged in, then display the login button -->
        {% if not loggedin %}
            <a href=/login>Login</a>
        {% endif %}

        <a href=/>Homepage</a>

        <!-- If the user is logged in, display the logout button -->
        {% if loggedin %}
            <a href=/logout><div><p>Logout</p></div></a>
        {% endif %}
    </nav>
    <div class="black-bar"></div>
    <h1>Register today!</h1>
</header>
<main>
    <section class="registration">
        <div class="blue-stripe"></div>
        <div class="wrap account">
            <div class="register-info">
                Enter your information below.
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
                <!-- If the registration worked, show it -->
                {% if success %}
                    <h2>{{ success }}</h2>
                {% endif %}
            </div>
            <form action=/send-user-info method="POST">
                <input type="text" placeholder="Please enter a username." name="user-name">
                <input type="password" placeholder="Please enter a password." name="user-password">
                <input type="email" placeholder="Please enter an email." name="user-email">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="blue-stripe"></div>
    </section>
</main>
<footer>
    <div class="light-blue-panel"></div>

    <div class="contact-information">

        <div>
            Created by Aliza Howe, Andrew Matt, Anthony Keller, and Gabe Curran
        </div>

        <div>
            Created with Python/Flask, Postgres/PostgreSQL, HTML, CSS, and Javascript

            Deployed with Heroku
        </div>

        <div>
            Contact us [stuff here]
        </div>

    </div>

</footer>
</div>

<button class = "dark-mode-button">turn on dark mode</button>
<script src="{{ url_for('static', filename='darkModeScript.js') }}"></script>
{% endblock %}
