{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="black-bar"></div>
    <nav>
        <!-- If the user is not logged in, then display the login buttton -->
        {% if not current_user.is_authenticated %}
            <a href=/login><div><p>Login</p></div></a>
        {% endif %}

        <a href=/><div><p>Homepage</div></p></a>

        <!-- If the user is logged in, display the logout button -->
        {% if current_user.is_authenticated %}
            <a href=/logout><div><p>Logout</p></div></a>
        {% endif %}
    </nav>
    <div class="black-bar"></div>
    <h1>Register today!</h1>
</header>
<main>
    <section class="registration">
        <div class="blue-stripe"></div>
        <div class="wrap account">
            <div class="register-info">
                {% if not success %}
                    <h3>Enter your information below.</h3>
                {% endif %}
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
                <!-- If the registration worked, show it -->
                {% if success %}
                    <h2>{{ success }}</h2>
                {% endif %}
            </div>
            <form action=/send-user-info method="POST">
                <input type="text" placeholder="Please enter a username." name="user-name">
                <input type="password" placeholder="Please enter a password." name="user-password">
                <input type="email" placeholder="Please enter an email." name="user-email">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="blue-stripe"></div>
    </section>
</main>
<footer>
    <div class="light-blue-panel"></div>
    <div class="contact-information">
        <div>
            <p>Created By:</p>
            <p>Aliza Howe</p>
            <p>Andrew Matt</p>
            <p>Anthony Keller</p>
            <p>Gabe Curran</p>
        </div>
        <div>
            <p>Created Using:</p>
            <p>Python/Flask</p>
            <p>PostgreSQL/postgres</p>
            <p>HTML, CSS, JavaScript</p>
            <p>Deployed with Heroku</p>
        </div>
        <div>
            <p>Contact Us At:</p>
            <p>Contact us [stuff here]</p>
            <p>Contact us [stuff here]</p>
            <p>Contact us [stuff here]</p>
            <p>Contact us [stuff here]</p>
        </div>
    </div>
</footer>
{% endblock %}


