{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="black-bar"></div>
    <nav>
        <a href=/login><div><p>Login</p></div></a>
        <a href=/register><div><p>Register</p></div></a>
        <a href=/logout><div><p>Logout</p></div></a>
    </nav>
    <h1>Social Media App</h1>
</header>
<main>
    <div class="wrapper">
        <h3>Taking Social Media to a Whole New Level!</h3>
        <div class="image"></div>
    </div>
    <div class="news">
        <div></div>
        <div></div>
    </div>
</main>
<footer>
    <div class="light-blue-panel"></div>
    <div class="contact-information">
        <div>
            <p>Created By:</p>
            <p>Aliza Howe</p>
            <p>Andrew Matt</p>
            <p>Anthony Keller</p>
            <p>Gabe Curran</p>
        </div>
        <div>
            <p>Created Using:</p>
            <p>Python/Flask</p>
            <p>PostgreSQL/postgres</p>
            <p>HTML, CSS, JavaScript</p>
            <p>Deployed with Heroku</p>
        </div>
        <div>
            <p>Contact Us At:</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
            <p>Lorum Ipsum</p>
        </div>
    </div>
</footer>
{% endblock %}

