{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="black-bar"></div>
    <div class="nav-bar">
        <a href=login><div><p>Login</p></div></a>
        <a href=/><div><p>Homepage</p></div></a>
    </div>
    <h1>Social Media App</h1>
</header>
<main>
    <div class="registration">
        <div class="blue-stripe"></div>
        <div class="form">register form here</div>
        <div class="blue-stripe"></div>
    </div>
</main>
<footer>

</footer>
{% endblock %}
