{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="black-bar"></div>
    <div class="nav-bar">
        <a href=login><div><p>Login</p></div></a>
        <a href=/><div><p>Homepage</p></div></a>
    </div>
    <h1>Social Media App</h1>
</header>
<main>
    <section class="registration">
        <div class="blue-stripe"></div>
        <div class="wrap">
            <div class="register-info">
                <h2>Register in the form below!</h2>
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
                {% if success %}
                    <h2>{{ success }}</h2>
                {% endif %}
            </div>
            <form action=/send-user-info method="POST">
                <input type="text" placeholder="Please enter a username." name="user-name">
                <input type="text" placeholder="Please enter a password." name="user-password">
                <input type="text" placeholder="Please enter an email." name="user-email">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="blue-stripe"></div>
    </section>
</main>
<footer>

</footer>
{% endblock %}
